.about__main {
  width: 100%;
  height: 100%;
  padding: 0%;
  margin-left: 350px;
  box-sizing: border-box;
  background: $white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  .about__subtitle {
    @extend .section-title;
    background-color: $secundary;
  }

  .about__main-container{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }

  .about__profile {
    display: flex;
    flex-direction: column;

    .about__img {
      width: 250px;
      margin-bottom: 0;
    }

    .about__social-media {
      background-color: $secundary;
      margin-top: 0;
    }

    .about__list-social {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0;

      .about__list-social-item {
        margin: 0 10px 0 10px;

        img {
          width: 32px;
        }
      }
    }
  }

  .about__container {
    

    .about__title {
      font-size: 2em;
    }

    .about__list {
      display: flex;
      list-style: none;
      box-sizing: border-box;
      width: 100%;
      justify-content: space-between;
      padding: 0;

      .about__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        font-size: 1.3em;
        margin: 20px 20px 20px 0;

        p {
          margin: 0;
        }

        img {
          width: 32px;
        }

        p:nth-last-child(1) {
          color: $dark-grey;
          font-size: 0.8em;
          text-align: center;
        }
      }
    }
  }
}
