.skills__main {
  width: 90vw;
  margin-left: 350px;
  padding: 0%;
  background: $white;
  display: flex;
  overflow-x: hidden;
  flex-direction: column;
  justify-content: space-evenly;

  .skills__header {
    .skills__title {
      @extend .section-title;
      background-color: $secundary;
    }

    .skills__subtitle {
      font-weight: 600;
      font-style: italic;
      padding: 0% 5%;
    }
  }

  .skills__list {
    padding: 0% 5%;
    list-style: none;
    // width: 50%;
    //   height: 50vh;
    //   display: flex;
    //   flex-direction: column;
    //   flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-rows: repeat(2, 300px);

    .skills__list-item {
      margin: 20px;

      img {
        width: 96px;
      }
    }
  }
}
